[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zachary-Winn
[access "refs/for/refs/*"]
	read = group user/Zachary-Winn
	push = group user/Zachary-Winn
	label-Code-Review = -2..+2 group user/Zachary-Winn
	label-Verified = -1..+1 group user/Zachary-Winn
	rebase = group user/Zachary-Winn
	removeReviewer = group user/Zachary-Winn
	submit = group user/Zachary-Winn
[access "refs/heads/*"]
	read = group user/Zachary-Winn
	create = group user/Zachary-Winn
	push = +force group user/Zachary-Winn
	pushMerge = group user/Zachary-Winn
[access "refs/tags/*"]
	push = group user/Zachary-Winn
	push = +force group user/Zachary-Winn
